.headerbar {
    background-color: #ffffff;
    display: flex;
}

.left-section {
    flex: 0.5;
    display: flex;
    justify-content:start;
    align-items: center;
    padding-left: 30px;
}

.logo-icon {
    object-fit: cover;
    height: 80px;
}
.middle-section {
    flex: 2;
    max-width: 500px;
    display: flex;
    align-items: center;
}

.search-bar {
    flex: 1;
    height: 36px;
    padding: 1px 10px;
    font-size: 16px;
    border: 1px solid rgb(68, 4, 4);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 0;
}

.search-bar::placeholder {
    font-size: 16px;
}

.search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(68, 4, 4);
    margin-left: -1px;
    margin-right: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.15s;
}

.search-button .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.search-icon {
    height: 25px;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-icon-container:hover .tooltip {
    opacity: 1;
}
.search-button:active{
    background-color:rgb(248, 115, 115);
}
.right-section {
    flex: 0.5;
    display:flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}
.notifications-icon {
    height: 100%;
}

.notifications-icon-container {
    position: relative;
    border-radius: 19px;
    padding: 4px;
    background-color: #f0f0f0;
}

.notifications-count {
    position: absolute;
    top: -2px;
    right: -5px;
    background-color: rgb(200, 0, 0);
    color: white;
    font-size: 11px;
    padding: 2px 5px;
    border-radius: 10px;
}

.profile-icon{
    height: 100%;  
}

.profile-icon-container,
.notifications-icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 27px;
    border-radius: 19px;
    padding: 4px;
    background-color: #f0f0f0;
    transition: all 0.15s;
    margin: 0px 50px;
}



.profile-icon-container .tooltip,
.notifications-icon-container .tooltip {
    position: absolute;
    background-color: gray;
    color: white;
    padding: 4px 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.15s;
    pointer-events: none;
    white-space: nowrap;
}

.profile-icon-container:hover .tooltip,
.notifications-icon-container:hover .tooltip {
    opacity: 1;
}
.profile-icon-container:active,
.notifications-icon-container:active{
    background-color: rgb(248, 115, 115);
    transform: scale(1.2);
}
.headerbar-welcome-page {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 5fr 1fr;
    border-bottom: 3px solid #f0f0f0;
    height: 100px;
}

.button-wrapper{
    margin: 0px 40px;
}

